{% extends "template.html" %} {% block title %}Video Clips{% endblock %} {% block content
    %}
    <h1 align="center">Video Clips</h1>



<!-- adding video footage-->
<center>
<iframe width="560" height="315" src="https://www.youtube.com/embed/aZeTRx2gTX4?si=evQlbJa533lY0uYe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> 
</center>  
<!-- notes-->

<center>   
    <ul class="list-group list-group-flush" id="notes">
      {% for note in user.notes %}
      <li class="list-group-item">
        {{ note.data }}
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    <form method="POST">
      <textarea name="note" id="note" class="form-control"></textarea>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
      </div>
    </form>
<!-- video footage-->
    <center>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/PEcJD0prILc?si=-qr-xA0wWmawrZZD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </center>  
      
  <!-- notes-->
      <center>   
          <ul class="list-group list-group-flush" id="notes">
            {% for note in user.notes %}
            <li class="list-group-item">
              {{ note.data }}
              <button type="button" class="close" onClick="deleteNote({{ note.id }})">
                <span aria-hidden="true">&times;</span>
              </button>
            </li>
            {% endfor %}
          </ul>
          <form method="POST">
            <textarea name="note" id="note" class="form-control"></textarea>
            <br />
            <div align="center">
              <button type="submit" class="btn btn-primary">Add Note</button>
            </div>
          </form>
    {% endblock %}