{% extends "template.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <div id="Sancta Maria College Basketball" class="tabcontent"></div>
   <!-- heading-->
    <h1 class="pageHeading">Home</h1>

    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </head>
        <body>
          <!--Image-->
            <h1>
                <img src="static/assets/img/background.jpeg" alt="Header Photo" style="width:100%; height:auto;">
            </h1>
          <!-- paragraphs-->
        </body>
          <h2 class="subheading"> Information for players </h2>
          <p>ExampleParagraphExampleParagraphExampleParagraphExampleParagraph
            ExampleParagraphExampleParagraphExampleParagraphExampleParagraph
            ExampleParagraphExampleParagraphExampleParagraphExampleParagraph
          </p>
      
        <h2 class="subheading"> How to contact us </h2>
          <p>ExampleParagraphExampleParagraphExampleParagraphExampleParagraph
            ExampleParagraphExampleParagraphExampleParagraphExampleParagraph
            ExampleParagraphExampleParagraphExampleParagraphExampleParagraph
          </p>
        <h2 class="subheading"> Help Support </h2>
          <p>ExampleParagraphExampleParagraphExampleParagraphExampleParagraph
            ExampleParagraphExampleParagraphExampleParagraphExampleParagraph
            ExampleParagraphExampleParagraphExampleParagraphExampleParagraph
          </p>
              
        


    {% endblock %}